/*! Border around every div element */
/** Gray background -- Be sure to remove when finished */

body {
	background-color: LightGray;
}
div {
	border: 1px solid Chocolate;
}

/* Navigation Section */

.top-navigation > .content {
	background-color: #fff;
	padding: 0em 0.9em;
}
.top-navigation {
	width: 60.625em;
	height: 4.375em;
	margin: 0 auto;
}

/* Karma Logo position */

.top-navigation .logo {
	height: 4.375em;
}

/* Link adjustments */

.top-navigation .links {
	float: right;
}
.top-navigation .links > li {
	display: inline-block;
}