/*! Border around every div element */
/** Gray background -- Be sure to remove when finished */

body {
	background-color: LightGray;
}
div {
	border: 1px solid Chocolate;
}
/* Navigation Section */
.top-navigation > .content {
	background-color: #fff;
}
.top-navigation {
	width: 60.625em;
	height: 4.375em;
	margin: 0 auto;
}
/* Karma Logo position */
.logo {
	margin: 0.7em;
	height: 4.375em;
}